.AddCity {
    font-size: 15px;
    margin: 20px;
    padding: 16px;
    display: inline-block;
    box-shadow: 0.3px 0.3px 1px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    width: 20%;
    transition: 0.5s;
}

.AddCity div {
    margin: 10px;
}

.AddCity input {
    border: 2px solid black;
    border-radius: 4px;
    width: 80%;
    height: 30px;
    text-align: center;
    font-size: 15px;
}

.AddCity button {
    box-shadow: 0.3px 0.3px 1px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 15px; 
    width: 60%;
    transition: 0.5s;
}

.AddCity button:hover {
    background-color: lightgreen;
}